.postpopup-container-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.459);
    max-height: 100vh;
}

.postpopup-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
}

.postpopup-content{
    height: 95%;
}

.postpopup-sidebar-container{
    display: flex;
    flex-direction: column;
    height: 95%;
    border-radius: 0px 10px 10px 0px;
    width: 47vh;

    background-color: white;
}

.postpopup-sidebar-header{
    display: flex;
    padding: 12px 15px;
    gap: 15px;
    border-bottom: 1px solid rgb(230, 230, 230);

    align-items: center;
}

.postpopup-icon{
    width: 3.5vh;
    border-radius: 100%;
}

.postpopup-username{
    font-weight: 500;
}

.postpopup-commentsection{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 0px 15px;
}

.postpopup-sidebar-bottom{
    margin-top: auto;
    margin-bottom: 10px;
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 7px;
}