.post-container{
    background-color: white;
    border: 1.5px solid #dcdcdc;
    border-radius: 10px;
    width: 40vh;
}

.post-header{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-user-icon{
    width: 3vh;
}

.post-username{
 font-weight: 500;   
}

.post-content{
    width: 100%;
}

.post-image{
    width: 100%;
}

.post-controls img{
    width: 2.2vh;
}

.post-controls{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 15px;
}

.post-info{
    padding:5px 15px;
    font-weight: 400;
    font-size: 0.9rem;
    color: #555555;
}

.post-viewcomments{
    padding:5px 15px;
    font-weight: 400;
    font-size: 1rem;
    color: #aaaaaa;
}  

.post-timestamp{
    padding:7px 15px;
    font-weight: 400;
    font-size: .8rem;
    color: #aaaaaa;
}   