form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-input-containers{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.login-input{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    background-color: #fafafa;
    font-size: 13px;

    padding: 10px 5px;
    width: 100%;
}

input:focus {
    outline: none;
    border: 1px solid #a8a8a8;
    border-radius: 1px;
 }

.login-submit{
    padding: 7px 10px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 94%;
    color: white;
    background-color: #0894f4;
    border-radius: 4px;

    font-size: .9rem;
    outline: none;
 }

 .login-or-container{
    padding-top: 17px;
    width: 75%; 
    text-align: center; 
    border-bottom: 1px solid rgb(146, 146, 146); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 }

 .login-or{
    font-size: 0.85rem;
    background:#fff; 
    padding:0 10px; 
    color: rgb(146, 146, 146);
 }

 .login-with-google-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    color: #149ff7;
 }

 .login-with-google-logo{
    width: 3vh;
 }

 .login-forgot{
    margin-top: 15px;
    font-size: .8rem;
    font-weight: 300;
    color: #727272;
 }