*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(243, 243, 243);
}

.welcome-content-container{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.welcome-image{
    width: 40vh;
}

.welcome-logo-container{
    padding-bottom: 20px;
}

.welcome-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36vh;
    gap: 20px;
}

.welcome-sidebar-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    width: 100%;

    background-color: white;
    border: 1.5px solid #dcdcdc;
}

.welcome-logo{
    width: 17vh;
}

.welcome-sidebar-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;

    background-color: white;
    border: 1.5px solid #dcdcdc;
}

.welcome-signup{
    color: #149ff7;
    font-weight: 700;
}